
.Button{
    color:white!important;
    font-size: 30px!important;
}

.Display{
    margin:30px;
    margin-top:20px;
    padding:15px;
    background-color:#ccc;
    border-color:black;
    border-width: 2px;
    border:2px solid black;
}