.Button {
  color: rgb(0, 0, 0) !important;
  font-size: 30px !important;
  background-color: #ffc900 !important;
}

.Display {
  border-radius: 5px;
  background: #2d5523;
  background: color(display-p3 0.2137 0.3303 0.1601);
  box-shadow: 4px 4px 4px 1px #000 inset;
  box-shadow: 4px 4px 4px 1px color(display-p3 0 0 0) inset;
}

.Display h2 {
  padding: 20px;
}

.Buscador {
  padding: 12px;
}

.Buscador .Button {
  border-radius: 10px;
  background: #00d0fb !important;
}

.Busqueda {
  padding: 30px;
}

.Logo img {
  width: 500px;
  height: 200px;
}
