.Name{
    /* Este es el color del nombre de pokemon */
    color: rgb(255, 255, 255);
    font-family:fantasy
}
.Image{
    /* Este es la size de la imagen del pokemon */
    width:50%;
}
.Id {
    /* Esta es la font del id */
    color: rgb(255, 255, 255);
    font-family:fantasy
  }